<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <%= stylesheet_link_tag "action_logs" %>
    <%= yield :stylesheets -%>
    <%= javascript_include_tag :defaults %>
    <%= yield :js_libs -%>
    <title><%= request.host %> - <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <h1><%= @title %></h1>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>

